@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+3:wght@400;600&display=swap');

:root {
    /* Colors */
    --text-color: #666666;    ;
    --footet-text-color: rgba(255, 255, 255, 0.4);
    --header-color: #FFFFFF;
    --footer-background-color: #464547;
  
    /* Font sizes */
    --font-size-small: 16px;
    --font-size-medium: 24px;
    --font-size-large: 48px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    max-width: 1200px;
    margin: 0 auto; 
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(assets/Background_1\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}
.sparkle_stars{
    position: absolute;
    right: 0;
    transform:translate(11px, 38px) rotateX(-22deg) rotateY(-1deg)scaleX(0.96);
    animation: sparkle 6s infinite cubic-bezier(0.31,-0.22, 1, 0.72);
}
.moving_stars{
    position: absolute;
    right: 0;
    transform: translateX(-109px) translatey(-15px) scale(0.92);
    animation: moving 5s infinite;
}
@keyframes sparkle{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes moving{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
        transform: scale(1.3) translateX(-230px) translatey(0px);
    }
    100%{
        opacity: 0;
    }
}

/* header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(assets/Group\ 22.png), url(assets/stars\ \(1\).png), url(assets/Background_1\ 1.jpg);
    background-size: 510px, 734px, cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right 66px, 325px 15px, right 50%;
}


@keyframes sparklingAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  header::before {
    content: "";
    background-image: url(assets/Group\ 22.png);
    background-repeat: no-repeat;
    background-position: right 66px top;
    background-size: 510px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: opacityAnimation 2s infinite;
  }
  
  header::after {
    content: "";
    background-image: url(assets/stars\ \(1\).png);
    background-repeat: no-repeat;
    background-position: right 325px top 15px;
    background-size: 734px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  @keyframes movingAnimation {
    0% {
      background-position: right 66px, 325px 15px, right 50%;
    }
    50% {
      background-position: right 66px, 225px 15px, right 50%;
    }
    100% {
      background-position: right 66px, 325px 15px, right 50%;
    }
  }
  
  header {
    animation: sparklingAnimation 2s infinite, movingAnimation 5s infinite;
  } */



.section_header_1{
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    align-items: center;
    padding-inline-start: 165px;
}
.priject_title{
    padding: 15px;
    padding-inline-start: 0px;
}
.priject_title a{
    text-decoration: none;
    color: var(--header-color);
    padding: 15px;
    font-family: 'Source Sans 3';
    font-style: normal;
    size: var(--font-size-small);
    font-weight: 600;
}
.menu-items {
    display: none;
  }
.menu a{
    text-decoration: none;
    color: var(--header-color);
    font-family: 'Source Sans 3';
    font-style: normal;
    Size: 14px;
    font-weight: 400;
}

.hamburger {
    display: flex;
    margin-right: 30px;
    margin-top: 20px;
  }
  .hamburger {
    flex-direction: column;
    cursor: pointer;
  }
.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    margin-bottom: 5px;
  }
  .secrion_header{
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-block-start: 220px;
    padding-block-end: 220px;
}
.headline{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    size: var(--font-size-large);
}
.content{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    size: var(--font-size-medium);
}

.logo {
    transition: transform 0.3s;
  }
.logo:hover {
    transform: scale(1.5) rotatey(180deg);
  }
  

/* section section_for_second_column begins from here */
.section_for_second_column{
    display: flex;
    background: #EEEEEE;
}
.section_1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 14px;
    padding-block-end: 90px;
    padding-block-start: 25px;
}
.section_headline_1{
    display: none;
}
.section_headline{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 145%;
    color: #464547;
}
.section_subtitle{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 133%;
    color: #666666;
}
.subtitle_text{
    display: flex;
    flex-direction: column;
}
.first_column_section{
    flex-basis: 40%;
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    line-height: 138%;
    color: #666666; 
}
.second_column_section{
    flex-basis: 40%;
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
    color: #666666;
}
.sectiion_button{
    padding-block-start: 35px;
}
.read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #55C2D8;
    color: #fff;
    text-decoration: none;
    border-radius: 18px;
    border: none;
    align-items: center;
    cursor: pointer;
    transform-origin: left top;
    transition: transform 0.4s cubic-bezier(0.3, -0.07, 0.55, 0.96);;
}
.read-more:hover{
    transform: rotate(20deg);
}

/* this is for third section */
.image_box{
    display: flex;
    flex-direction: column;
    background-image: url(assets/IMG_1334_72dpi_RGB_\ 1.png);
    background-size: cover;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background-repeat: no-repeat;
    padding-block-start: 60px;
    padding-block-end: 75px;
}
.learn_title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    padding-block-end: 55px;
}
.ellipse-box{
    background: #39C2D7;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    cursor: pointer;
    transition: transform 0.3s;
}
.ellipse-box:hover{
    transform: scale(0.9);
    background-color: var(--header-color);
}
.ellipse-box:hover .play-button img {
    filter: invert(1); filter: brightness(0) saturate(100%) invert(81%) sepia(7%) saturate(5468%) hue-rotate(148deg) brightness(92%) contrast(81%);
  }
.play-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 15px;
}
.dis_auto{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 133%;;
    text-align: center;
    color: #FFFFFF;
    padding-block-start: 55px;
}
/* this is for footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #464547;
    padding-block-start: 40px;
    padding-block-end: 60px;
}
.item_2{
    padding-block-start: 30px;
}
.item_1{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;

}
.address{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 119%;
    color: rgba(255, 255, 255, 0.4);
}
.adress_2 a{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 119%;
    color: rgba(255, 255, 255, 0.4);
}
.adress_2{
    padding-block-start: 16px;
}
.item_3{
    padding-block-start: 20px;
}
.year{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 119%;
    color: rgba(255, 255, 255, 0.4);
}













  @media(min-width: 768px){
    .section_header_1{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .menu-items {
        display: flex;
        list-style: none;
      }
    .menu-items li {
        margin-right: 32px;
    }
    .hamburger {
        display: none;
    }
    .priject_title{
        padding-inline-start: 80px;
    }
    .section_headline{
        display: none;
    }
    .section_headline_1{
        display: flex;
        justify-content: center;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        color: #464547;
        text-align: center;
    }
    .section_subtitle{
        text-align: center;
    }
    .subtitle_text{
        flex-direction: row;
        justify-content: space-around;
    }
    .sectiion_button{
        text-align: center;
    }
    .footer{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: normal;
        padding-block-start: 30px;
        padding-block-end: 60px;
    }
    .item_1{
        flex-basis: 33.33%;
        display: flex;
        align-items: flex-start;
        padding-top: 30px;
    }
    .small_logo{
        margin-inline-start: 40px;
    }
    .adress_2{
        margin-block-start: 27px;
    }
    .item_2{
        flex-basis: 33.33%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .item_3{
        flex-basis: 33.33%;
        display: flex;
        align-items: flex-end;
    }

    
    
  }




